@model IEnumerable<ApplicationsMVC.Models.Application>
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>
<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }

    th {
        background-color:skyblue;
        color: white;
    }

    tr:nth-child(even) {
        background-color:lightblue;
    }

    tr:nth-child(odd) {
        background-color:lightcyan;
    }
</style>

@using (Html.BeginForm()) {
<div>
    <label>
        Select
    </label>
    @Html.DropDownList("ddlmember", new List<SelectListItem> { new SelectListItem { Text="processed", Value="processed"},new SelectListItem { Text="not processed", Value="not processed"} },"select")
    </div>
    <div style="height:40px">

    </div>
    <div>
        <label>Total Applications</label>
        @Html.TextBox("txtno",Session["data"])
      
    </div>
    <div style="height:40px">

    </div>
    <div>
    <label>Total Processed Application</label>
        @Html.TextBox("txtpno",Session["sdata"])</div>

        <div style="height:40px">

        </div>
    <div>
        <input type="submit" value="ok" />
    </div>
    <div>
        <table border="1" style="">
            <tr>
                <th>Id</th>
                <th>Canditate Name</th>
                <th>
                    Age
                </th>
                <th>
                    Address
                </th>
                <th>Date of Birth</th>
                <th>
                   Branch id
                </th>
                <th>Class id</th>
                <th>Status</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        @x.Id
                    </td>
                    <td>@x.name</td>
                    <td>@x.age</td>
                    <td>@x.address</td>
                    <td>@x.dob.Date</td>
                    <td>
                        @x.branch_id
                    </td>
                    <td>@x.classid</td>
                    <td>@x.category</td>
                </tr>
            }
        </table>
    </div>
}