<div style="background-color:aquamarine;font-family:Arial;text-align:center;text-shadow:20px 12px 2px unset ">
    <h1>ABC International School</h1>
</div>
<div>
    <table>
        <tr>
           
            <td>@Html.ActionLink("register", "Register", "User")</td>
            <td>@Html.ActionLink("check status", "checkstatus", "User")</td>
            <td>@Html.ActionLink("Process", "process", "User")</td>
            <td>@Html.ActionLink("Report", "Report", "User")</td>
           
        </tr>
    </table>
</div>
<div style="background-color:aliceblue;font-family:'Comic Sans MS';text-align:center">
    @RenderBody()
</div>